
<div class="center-container shadow">

<table class="table table-striped">
<thead>
    <tr>
        <th scope="col" sortable ="position" (sort)="onSort($event)">Nr. ▾</th>
        <th scope="col" sortable ="name" (sort)="onSort($event)">Rule Name ▾</th>
        <th scope="col" sortable ="dat" (sort)="onSort($event)">Creation Date ▾</th>
        <th scope="col" sortable ="act" ><button ><i class="fas fa-folder-plus"style="color: rgb(128, 128, 128);"data-toggle="tooltip" title="Create new Rule">Create</i></button></th>


        
    </tr>
</thead>
<tbody>

        <tr *ngFor="let element of rules; let i = index">
            <th scope="row">{{ element.position }}</th>
           
            <td>{{element.name }}</td> <td>{{element.dat| number}}</td>
            <td>
                <!-- <button><img width="40" alt="AOE Logo" src="../../../favicon.ico"/></button>  -->
                <span style="font-size: 1.5rem;">
                <button><i class="far fa-edit" style="color: rgb(128, 128, 128);"data-toggle="tooltip" title="Edit"></i> </button>
                </span>
                <app-popup2></app-popup2>
                <app-popup21></app-popup21>
 
            </td>

                
        </tr>
    
</tbody>
</table>
<!-- <app-popup></app-popup> -->

</div>