<div class="center-container shadow">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" sortable="position">ID</th>
                <th scope="col" sortable="name">Rule Name</th>
                <th scope="col" sortable="dat"> Creation Date</th>
                <th scope="col" sortable="act"><a routerLink="/edit"><button class="create-button" data-toggle="tooltip"
                            title="Create new Rule"><i class="fas fa-folder-plus"> Create</i></button></a></th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let element of rules; let i = index">
                <th scope="row">{{ element.rule_id | number}}</th>

                <td>{{ element.rule_name }}</td>
                <td>{{ element.rule_initial_creation_human_date }}</td>
                <td>
                    <span style="font-size: 1.5rem;">
                        <a routerLink="/edit"><button class="edit"><i class="far fa-edit" data-toggle="tooltip"
                                    title="Edit"></i> </button></a>
                    </span>

                    <app-popup21 [name2]=element.rule_id></app-popup21>
                    <app-popup2 [name2]=element.rule_id></app-popup2>

                </td>
            </tr>
        </tbody>
    </table>