/*
 * inner white box container
 */
 .center-container {
  display: flex;
  background-color: white;
  margin: 1.5em 3.5em 2.5em 3.5em;
  padding: 2em 2em 2em 2em;
  justify-content: center;
  flex-direction: column;
  border-radius: 1em;

}

.center-container .shadow {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.center-container hr {
  margin: 2em;
}

th{
  font-size: 22px;
  color: #6E7B87;
  font-family: Arial, Helvetica, sans-serif;
}

th:hover{
  color: #FE8C1D;
}

td{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.create-button{
  background-color: #5d6874; 
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
.edit,.delete,.clone{
  background-color: transparent; 
  color:#5d6874;
  border: none;
  
}
