/*
   * Dop-down-menus in if-row styling
   */
.Shipment-Button,
.Attribute-Button,
.Relation-Button,
.Choice-Button {
  font-family: Arial;
  font-size: 18px;
  color: #6e7b87;
  text-align: center;

  background-color: #eeeeee;
  border-radius: 20px;
  border: none;

  margin-top: 1.563em;
  margin-left: 0.625em;

  height: 40px;
}

.Relation-Button {
  width: 180px;
}
.Shipment-Button,
.Attribute-Button {
  width: 290px;
}
.Choice-Button {
  width: 490px;
}

.Delete-Button {
  font-family: Arial;
  font-size: 20px;
  background-color: #b81005;
  color: white;
  border-radius: 100px;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: 3.125em;
}
