  select{
    appearance: none
  }
 
  option{
    font-size: smaller;
    color: black;
    
    border-color: #EEEEEE;
    background-color: white;
  }

  #dropdownBas, #dropdownBas2, #dropdownBas3, #dropdownBas4{
    font-family: Arial;
    font-size: 18px;
    color:  #6E7B87;
    text-align: center;

    background-color: #EEEEEE;
    border-radius:20px;
    border: none;

    margin-top: 1.563em;
    margin-left: 0.625em;

    height: 40px;
  }

  #dropdownBas, #dropdownBas2{
    width: 290px;
  }

  #dropdownBas3{
    width: 180px;
  }
  
  #dropdownBas4{
    width: 490px;
  }
 
  #Delete-Button{
    font-family: Arial;
    font-size: 20px;
    color: white;

    background-color: #B81005;
    border-radius:100px;
    border: none;
    
    width: 40px;
    height: 40px;

    margin-left: 3.125em;
  }
  