<div class="row">
    <div class="col">
    <div ngbDropdown class="d-inline-block">

      
    <button class="Andere-Button" id="dropdownBas" ngbDropdownToggle>{{construction}}</button>

    <div ngbDropdownMenu aria-labelledby="dropdownBas">     
    <button ngbDropdownItem (click)="construction='Shipment Request'; constructionNumber=1">Shipment Request</button>
     
    </div>

    <div ngbDropdown class="d-inline-block">
    <button class="Andere-Button"  id="dropdownBas2" ngbDropdownToggle>{{attribute}}</button>

    <div ngbDropdownMenu aria-labelledby="dropdownBas2">
        <button ngbDropdownItem (click)="attribute='DELIVERY METHOD'">DELIVERY METHOD</button>
        <button ngbDropdownItem (click)="attribute='CARRIER METHOD'">CARRIER METHOD</button>
    </div>
 
</div>
</div>

<div ngbDropdown class="d-inline-block">
    <button class="relation-Button"  id="dropdownBas3" ngbDropdownToggle>{{relation}}</button>

    <div ngbDropdownMenu aria-labelledby="dropdownBas3">
    <button ngbDropdownItem (click)="relation='EQUAL'">EQUAL</button>
    <button ngbDropdownItem (click)="relation='NOT EQUAL'">NOT EQUAL</button>
    </div>
</div>

<div ngbDropdown class="d-inline-block">
    <button class="Choice-Button"  id="dropdownBas4" ngbDropdownToggle>{{choice}}</button>

    <div ngbDropdownMenu aria-labelledby="dropdownBas4">
        <button ngbDropdownItem (click)="choice='EXPRESS'">EXPRESS</button>
        <button ngbDropdownItem (click)="choice='STANDARD'">STANDARD</button>
        <button ngbDropdownItem (click)="choice='NO KNOWN CARRIER METHOD'">NO KNOWN CARRIER METHOD</button>
        <button ngbDropdownItem (click)="choice='FLIGHT IS GIVEN AND AIRSIDE'">FLIGHT IS GIVEN AND AIRSIDE</button>
        <button ngbDropdownItem (click)="choice='FLIGHT IS GIVEN AND LANDSIDE'">FLIGHT IS GIVEN AND LANDSIDE</button>
        <button ngbDropdownItem (click)="choice='FLIGHT IS NOT GIVEN'">FLIGHT IS NOT GIVEN</button>
    
</div>
</div>
<div class="d-inline-block">
    <button (click)=reset() type ="button" class="Delete-Button"><b>x</b></button>
</div>
   
    