  select{
    appearance: none
  }
 
  option{
    font-size: smaller;
    color: black;
    border-color: #EEEEEE;
    background-color: white;
  }

 .Shipment_Method_Button, #dropdownBas3, #dropdownBas4{
    font-family: Arial;
    font-size: 18px;
    background-color: #EEEEEE;
    color:  #6E7B87;
    border-radius:20px;
    border: none;
    margin-top: 1.563em;
    height: 40px;
    margin-left: 0.625em;
    text-align: center;
  }

  .Shipment_Method_Button{
    width: 290px;
  }

  #dropdownBas3{
    width: 180px;
  }
  
  #dropdownBas4{
    width: 490px;
  }
 
  #Delete-Button{
    font-family: Arial;
    font-size: 20px;
    background-color: #B81005;
    color: white;
    border-radius:100px;
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 3.125em;
  }
  