<div class="row">
    <div class="col">

        <select id="dropdownBas">
            <option value="Shipment Request">Shipment Request ▾</option>
        </select>

        <select id="dropdownBas2">
            <option *ngIf="attribute=='Delivery Method'" value="Delivery Method">Delivery Method ▾</option>
            <option *ngIf="attribute=='Carrier Method'" value="Carrier Method">Carrier Method ▾</option>
        </select>

        <select id="dropdownBas3" required>
            <option value=''>Relation ▾</option>
            <option value='EQUAL'>EQUAL ▾</option>
            <option value='NOT EQUAL'>NOT EQUAL ▾</option>
        </select>

        <select id="dropdownBas4" required>
            <option value=''>Choice ▾</option>
            <option *ngIf="attribute=='Carrier Method'" value="EXPRESS" (click)="change2('EXPRESS')">EXPRESS ▾</option>
            <option *ngIf="attribute=='Carrier Method'" value="STANDARD" (click)="change2('STANDARD')">STANDARD ▾
            </option>
            <option *ngIf="attribute=='Carrier Method'" value="NO KNOWN CARRIER METHOD"
                (click)="change2('NO KNOWN CARRIER METHOD')">NO KNOWN CARRIER METHOD ▾
            </option>
            <option *ngIf="attribute=='Carrier Method'" value="FLIGHT IS GIVEN AND AIRSIDE" (click)="change2('FLIGHT IS GIVEN AND
                AIRSIDE')">FLIGHT IS GIVEN AND
                AIRSIDE ▾</option>
            <option *ngIf="attribute=='Carrier Method'" value="FLIGHT IS GIVEN AND LANDSIDE" (click)="change2('FLIGHT IS GIVEN AND
                LANDSIDE')">FLIGHT IS GIVEN AND
                LANDSIDE ▾</option>
            <option *ngIf="attribute=='Carrier Method'" value="FLIGHT IS NOT GIVEN"
                (click)="change2('FLIGHT IS NOT GIVEN')"> FLIGHT IS NOT GIVEN ▾</option>
            <option *ngIf="attribute=='Delivery Method'" value="HOME DELIVERY" (click)="change1('HOME DELIVERY')">HOME
                DELIVERY ▾</option>
            <option *ngIf="attribute=='Delivery Method'" value="INFLIGHT DELIVERY"
                (click)="change1('INFLIGHT DELIVERY')">INFLIGHT DELIVERY ▾</option>
            <option *ngIf="attribute=='Delivery Method'" value="COLLECTION POINT" (click)="change1('COLLECTION POINT')">
                COLLECTION POINT ▾</option>
        </select>

        <button type="button" id="Delete-Button"><b>x</b></button>

    </div>

</div>