/*
 * Block with Title "Rule Configurator"
 */

.inner-navbar {
  display: flex;
  justify-content: left;
  align-items: left;

  background-color: #6e7b87;

  height: 6em;
}
.inner-navbar .inner-navbar-line {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2.5em;
}

/*
 * Titel Styling
 */
.inner-navbar .inner-navbar-line h2 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 530px;
}

@media only screen and (max-width: 768px) {
  .inner-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
