.inner-navbar {
  background-color: #6e7b87;
  display: block;

  margin-top: 60px;
  text-align: left;

  padding-top: 2em;
  padding-bottom: 2em;
}
.inner-navbar h2 {
  font-size: 35px;
  font-family: Arial;
  color: white;
  font-weight: 530px;
  padding-left: 2em;
}
