:host {
    background-color: #6E7B87; 
    size: 200px 200px;
    display: block;
    height: 120px;
    margin-top: 60px;
}
p {
    font-size:35px;
    font-family: Arial;
    color: white;
    margin-left: 50px;
    padding-top: 50px;
    font-weight: 530;
}