<app-navbar-basic></app-navbar-basic>
<app-inner-navbar></app-inner-navbar>
<app-inner-main-content></app-inner-main-content>


<!--
 <div>

  is there a better way to create deviders/margin? :( 
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

 Test code. Need to replace that with inner component 
  
  <div>

    <table>
      <tr>
        <td>
          <h3>When an order should be urgent?</h3>
        </td>
        <td>
          <app-dropdown-basic></app-dropdown-basic>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          <h3>When an order should be x?</h3>
        </td>
        <td>
          <app-dropdown-basic></app-dropdown-basic>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          <h3>When an order should be y?</h3>
        </td>
        <td>
          <app-dropdown-basic></app-dropdown-basic>
        </td>
      </tr>
    </table>

  </div>
  -->