select{
    appearance: none;
  }
  
option{
    font-size: smaller;
    color: black;
  
    border-color: #EEEEEE;
    background-color: white;
}

#And-Button{
    font-family: Arial;
    font-size: 18px;
    color: white;
    text-align: center;

    background-color: #6E7B87;
    border-radius:20px;
    border: none;

    width: 240px;
    height: 40px;

    margin-left: 3.125em;
    margin-top: 1.563em;
}