.toolbar {
  display: flex;
  justify-content: left;
  align-items: left;

  height: 4em;
  background-color: #5d6874;
  color: #fff;
  font-weight: 550;
  font-style: Helvetica, sans-serif;
}

.toolbar-line {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
}

.toolbar-line img {
  margin: 0 16px;
}

@media only screen and (max-width: 768px) {
  .toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

a:link{
  color: white;
}

a:visited{
  color: white;
}

a:hover{
  color: #FE8C1D;
}

a{
  margin-left: 0.625em;
}