.Set-Button, .Andere-Button, .Offset-Button{
  font-family: Arial;
  font-size: 18px;
  background-color: #e3e5e7;
  color: #6E7B87;
  border-radius:20px;
  border: none;
  margin-top: 20px;
  height: 40px;
}


.Set-Button{
  width: 140px;
}
.Offset-Button{
  width: 100px;
}
.Andere-Button{
  width: 290px;
}
.d-inline-block{
  margin-left: 10px;
  font-size: 18px;
}
.Delete-Button{
  font-family: Arial;
  font-size: 20px;
  background-color: #e00202;
  color: white;
  border-radius:100px;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: 50px;
}

.clock{
  font-family: Arial;
  font-size: 18px;
  background-color: #e3e5e7;
  color: #6E7B87;
  border-radius:20px;
  border: none;
  margin-top: 20px;
  margin-left: 10px;
  height: 40px;
  text-align: center;
  width: 120px;
}