<div class="row">
    <div class="col">
    <div ngbDropdown class="d-inline-block">

      
    <button class="Set-Button" id="dropdownBas" ngbDropdownToggle>{{construction}}</button>

    <div ngbDropdownMenu aria-labelledby="dropdownBas">     
    <button ngbDropdownItem (click)="construction='Set'; constructionNumber=1">Set</button>
     <button ngbDropdownItem (click)="construction='Delete'; constructionNumber=2">Delete</button>
    </div>

    <div ngbDropdown class="d-inline-block">
    <button class="Andere-Button" id="dropdownBas2" ngbDropdownToggle>{{objekt}}</button>

    <div ngbDropdownMenu aria-labelledby="dropdownBas2">
    <button ngbDropdownItem (click)="objekt='Shipment Request'; objektNumber=1">Shipment Request</button>
 
</div>
</div>

<div ngbDropdown class="d-inline-block">
    <button class="Andere-Button" id="dropdownBas3" ngbDropdownToggle>{{date}}</button>

    <div ngbDropdownMenu aria-labelledby="dropdownBas3">
    <button ngbDropdownItem (click)="date='Urgent Date'; dateNumber=1">Urgent Date</button>
    <button ngbDropdownItem (click)="date='Due Date'; dateNumber=2">Due Date</button>
</div>
</div>

<div ngbDropdown class="d-inline-block">
    <button class="Andere-Button" id="dropdownBas4" ngbDropdownToggle>{{opt}}</button>

    <div ngbDropdownMenu aria-labelledby="dropdownBas4">
    <button ngbDropdownItem (click)="opt='OrderPlacedTime'; optNumber=1">OrderPlacedTime</button>
    
</div>
</div>


<div ngbDropdown class="d-inline-block">
    <button class="Offset-Button" id="dropdownBas5" ngbDropdownToggle>{{offset}}</button>

    <div ngbDropdownMenu aria-labelledby="dropdownBas5">
    <button ngbDropdownItem (click)="offset='1';">1 Day</button>
    <button ngbDropdownItem (click)="offset='2';">2 Day</button>
    <button ngbDropdownItem (click)="offset='3';">3 Day</button>
</div>
</div>

<div ngbDropdown class="d-inline-block">
<label for="appt">at:</label>
<input type="time" id="appt" name="appt">

    </div>

 

    <button (click)=reset() type ="button" class="Delete-Button" ><b>x</b></button>

   
    