/*
 * All drop dowm menus in then_row styling
 */
.Set-Button,
.Shipment-Button,
.Date-Button,
.PlacedTime-Button,
.Offset-Button {
  font-family: Arial;
  font-size: 18px;
  color: #6e7b87;
  text-align: center;

  background-color: #eeeeee;
  border-radius: 20px;
  border: none;

  margin-top: 1.563em;
  margin-left: 0.625em;

  height: 40px;
}

.Set-Button {
  width: 140px;
}

.Shipment-Button,
.PlacedTime-Button {
  width: 290px;
}

.Date-Button {
  width: 250px;
}

.Offset-Button {
  width: 120px;
}

/*
 * Time picker styling
 */
.clock {
  font-family: Arial;
  font-size: 18px;
  background-color: #eeeeee;
  color: #6e7b87;
  border-radius: 20px;
  border: none;
  margin-top: 1.563em;
  margin-left: 0.625em;
  height: 40px;
  text-align: center;
  width: 120px;
}

/*
 * Delete button styling
 */
.Delete-Button {
  font-family: Arial;
  font-size: 20px;
  background-color: #b81005;
  color: white;
  border-radius: 100px;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: 3.125em;
}
