<p>inner-main-content works!</p>
<h2>if</h2>
<app-if-row-component></app-if-row-component>
<app-if-connection-component></app-if-connection-component>
<app-if-row-component></app-if-row-component>
<app-add-button-component></app-add-button-component>
<hr>
<h2>then</h2>
<app-then-row-component></app-then-row-component>
<app-then-connection-component></app-then-connection-component>
<app-then-row-component></app-then-row-component>
<app-add-button-component></app-add-button-component>
<hr>
<button class="btn btn-outline-primary" >Cancel</button> <button class="btn btn-outline-primary" >Save</button>